@charset "UTF-8";
.jbFixed {position: fixed; top: 0px; width: 100%;}
* {margin: 0;padding: 0; color: white;}
.TitleMenu a {color: #ffffff; text-decoration: none;}
li {list-style: none;}
/**/
#menu0 {background: #98E0AD;height: 40px;width: 100%;margin: 0 auto;}
#menu0>div{background: #98E0AD;width: 1000px;margin: 0 auto;padding-top: 10px;}
body {background: #161616}/*눈 피로로 인해 추가함 */
/**/
.tt {width: 100%; position: relative;}
.TitleMenu {background: #98E0AD;height: 50px;}
.TitleMenu .MainUl {width: 1000px;margin: 0 auto;position: relative;/* overflow: hidden; */}
/**/
.TitleMenu .MainUl>li {float: left;width: 16.66%;height: 100%;line-height: 50px;text-align: center;background: #98E0AD;}
/**/
.TitleMenu .SubMenu {position: absolute;top: 50px;left: 0;width: 100%;display: none;}
.TitleMenu .SubUl {float: left;width: 100%; background: #138535;}
.TitleMenu .SubUl li {float: left;width: 25%;}
/* 하위메뉴 1~8번 */
.TitleMenu ul li a {display: block;}
.TitleMenu .MainUl>li a {display: block;}
.TitleMenu .MainUl>li:hover .SubMenu {display: block;}
.TitleMenu .MainUl>li:hover .SubUl {display: block;}
/* */
.TitleMenu .SubUl .LowMenu {width: 25%; float: left;}
.TitleMenu .SubUl .LowMenu li {width: 100%; float: none;}
.TitleMenu .SubUl .LowMenu li:nth-child(1) {padding-top: 10px; border-bottom: 3px solid rgb(0, 0, 0); font-size: 13pt;}
/**/
.TitleMenu .MainUl .SubUl li {background: #138535;}
.TitleMenu .MainUl .SubUl li a:hover {background: #d7e8d5;}
.TitleMenu .MainUl>li a:hover {background: #138535;color: #fff;}
.TitleMenu ul li a:hover {background: #138535;color: #fff;}/* aaaaaaaa */