@charset "UTF-8";
* {margin: 0;padding: 0; color: #363636; font-size: 12pt; font-weight: normal; font-family: 'Nanum Gothic';}
/*body {background: #363636}눈 피로로 인해 추가함 */
li {list-style: none;}
input{color: black;}
select{color: black;}
/* option{background: #363636;} */
#mid{width:100%;margin :0 auto; height: 1000px;}
#mid>div{width:1000px;margin :0 auto;}
#bot {height: 80px;width: 100%;margin: 0 auto; background: #00B992;}
#bot>div{width: 1000px;margin: 0 auto;padding-top: 20px; font-size: 13pt; background: #00B992;}
button{color: black;}
textarea{color: black;}
.ui-datepicker-calendar {background: #363636}
.ui-datepicker-current-day .ui-state-active { background: #d6bb50; }
#startDate{width: 100px;}
#endDate{width: 100px;}
#login{color: white;}
#bot>div{color: white;}