@charset "UTF-8";
.joinMain{height: 800px; width: 100%; border-bottom: 1px solid #363636; word-break:break-all;}
.join_Guide {margin-top:30px; margin-bottom:20px; border-bottom:1px solid #363636; font-size: 14pt;}
.join_Button {float: left; height: 100%; border: 1px solid #363636; margin-left: 30%; }